.game-Titel {
  text-align: center;
  background-color: #000000;
  background-image: linear-gradient(100deg, #000000, #ff000048, #000000);
  background-size: 100%;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-shadow: 0 0 2px white;
  font-size: 42px;
}

.game__menu {
  position: relative;
  width: 200px;
  height: 250px;

  /* border-radius: 10px; */
  margin: 50px auto;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start__button {
  width: 350px;
  height: 100px;
  background: #ff000011;
  color: white;
  border-radius: 20%;

  padding: 10px;
  font-size: 1.2em;
  box-shadow: 0 0 70px #b80000;
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
}

.start__button:hover {
  background-color: rgba(68, 255, 0, 0.356);
  box-shadow: 0 0 70px rgb(68, 255, 0);
  color: black;
  font-weight: 800;
}
