body {
  background-color: #000000;
}

.game-area {
  position: relative;
  width: 1500px;
  height: 750px;

  border-radius: 10px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px #ff0000;
  background-color: rgba(128, 128, 128, 0.055);
}

@media only screen and (max-width: 800px) {
  .game-area {
    position: relative;
    width: 450px;
    height: 300px;
  }

  .snake {
    width: 22px;
    height: 22px;
  }
}

.food {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: rgb(255, 0, 0);
  border-radius: 50%;
  z-index: 1;
}
