.canvas-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
canvas {
  outline: 1px solid;
  border: 2px red solid;
  box-shadow: 0 0 10px 0px red;
  background: rgb(0, 0, 0);
}
