.gameContainer {
  max-width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.smashHeads {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  color: white;
  margin-top: 25%;
}

.startGameBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  font-size: 18px;
  color: white;
  background: none;
  border: 3px solid white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.gameBoard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
  width: 600px;
  height: 600px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px red, 0 0 20px red;
  cursor: url("../images/baseballbat.png"), auto;
}

.politician {
  position: absolute;
  background-image: url(../images/politician.png);
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  transition: 0.5s ease-in-out;
}
