.canvas-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
canvas {
  outline: 1px solid;
  border: 3px solid rgb(224, 0, 0);
  border-radius: 50%;
  box-shadow: 0 0 10px 0px red;
  background: rgb(0, 0, 0);
  box-shadow: 0 0 10px rgb(175, 0, 0), 0 0 20px red,
    inset 0 0 10px rgb(190, 0, 0), inset 0 0 20px red,
    inset 0 0 30px rgb(255, 54, 54);
}
