.logo {
  position: relative;
  padding: 9px;
  color: #dd1717;
  font-family: "Press Start 2P", cursive;
  font-size: 32px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #dd171755);
  line-height: 0.2em;
  outline: none;
  animation: lightFlimmer 3s linear infinite;
}

@keyframes lightFlimmer {
  0%,
  18%,
  20%,
  24.1%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #ff3d3d;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  24%,
  30%,
  50%,
  60.1%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: #fddfdf;
    text-shadow: 0 0 10px #ef2121, 0 0 20px #ef2121, 0 0 40px #ef2121,
      0 0 80px #ef2121, 0 0 160px #ef2121;
  }
}

header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  font-size: 18px;
  font-family: "Press Start 2P", cursive;
  margin: 0 2rem;
  color: var(--lightTextColor);
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid rgb(0, 0, 0);
  padding: 5px;
  transition: 0.5s;
}

nav a:hover {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: black;
  text-shadow: 2px 2px 5px black;
  box-shadow: 0 0 10px red, inset 0 0 5px rgb(0, 0, 0), inset 0 0 10px black;
  background-color: red;
  transition: 0.5s;
  padding: 5px;
}

.main-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoutBtn {
  font-size: 16px;
  font-family: "Press Start 2P", cursive;
  margin: 0 2rem;
  color: var(--lightTextColor);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  background-color: black;
  border: 2px solid white;
  padding: 5px;
  transition: 0.5s;
}

.logoutBtn:hover {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: black;
  text-shadow: 2px 2px 5px black;
  box-shadow: 0 0 10px red, inset 0 0 5px rgb(0, 0, 0), inset 0 0 10px black;
  background-color: red;
  transition: 0.5s;
  padding: 5px;
}
