.snake {
  position: absolute;
  width: 22px;
  height: 12px;
  border-radius: 50%;
  background-image: url(../img/Snake.jpg);
  z-index: 1;
  transition: all 0.1s;
}

.head {
  color: rgb(0, 255, 13);
}
