*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

:root {
  --mainColor: rgb(92, 92, 92);
  --mainColortrans: rgba(56, 56, 56, 0.493);
  --mainColorLight: rgb(160, 160, 160);
  --secondaryColor: rgb(29, 29, 29);
  --secTransColor: rgba(75, 75, 75, 0.521);
  --textColor: #eee;
  --darkTextColor: #0f0f0f;
}
