@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans&family=Press+Start+2P&display=swap");

/* FONT FAMILY TO USE */

/* font-family: 'Alumni Sans', sans-serif;
font-family: 'Press Start 2P', cursive;*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

:root {
  --mainColorDark: rgb(0, 0, 0);
  --mainColorTrans: rgba(92, 92, 92, 0.493);
  --mainColorLight: rgb(218, 218, 218);
  --secondaryColor: rgb(29, 29, 29);
  --secTransColor: rgba(75, 75, 75, 0.521);
  --textColor: #eee;
  --lightTextColor: #e6e6e6;
}

body {
  background-color: var(--mainColorDark);
  height: 100vh;
}
